header a {
  text-decoration: none;
}

header {
  position: relative;
  background-color: navy;
  -webkit-box-shadow: 0px 18px 15px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 18px 15px -10px rgba(0, 0, 0, 0.8);
}

main {
  background-color: #f7f4f3;
}

.csm-image {
  width: 100%;
  aspect-ratio: 16/11;
}

.bg-white-smoke {
  background-color: #f7f4f3;
}

.text-white-smoke {
  color: #f7f4f3;
}

.bg-wine {
  background-color: #5b2333;
}

.text-wine {
  color: #5b2333;
}

Link {
  text-decoration: none;
}

.adv-search {
  width: 20%;
}

.cardoverlay-top {
  position: absolute;
  top: 0;

  .desctag {
    font-size: 0.8rem;
  }
}

.cardoverlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0.1rem;
  font-size: 0.8rem;
}

.button-container {
  margin-left: auto;
}

footer {
  background-color: #5b2333;

  p {
    color: whitesmoke;
  }

  h5 {
    color: whitesmoke;
  }

  ul {
    color: whitesmoke;
  }
}