header a {
  text-decoration: none;
}

header {
  background-color: navy;
}

.imgLogo {
  border-radius: 15px;
}

body {
  background-color: #f7f4f3;
}

.csm-image {
  width: 100%;
  aspect-ratio: 16/11;
}

.bg-white-smoke {
  background-color: #f7f4f3;
}

.text-white-smoke {
  color: #f7f4f3;
}

.bg-wine {
  background-color: #5b2333;
}

.text-wine {
  color: #5b2333;
}

Link {
  text-decoration: none;
}
