header a {
  text-decoration: none;
}

header {
  background-color: navy;
}

.imgLogo {
  border-radius: 15px;
}

.csm-card {
  width: 100%;
  min-height: 30%;
  border-radius: 15px;
}

.csm-image {
  width: 100%;
  aspect-ratio: 16/11;
}
